<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Famous Quotes - Admin</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" href="/author/new">Add Author</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" href="/quote/new">Add Quote</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary me-2" href="/authors">List Authors</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary" href="/quotes">List Quotes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
