<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Home</title>
<link href="/css/bootstrap.min.css" rel="stylesheet"></head>
<body class="container mt-5">
  <%- include('partials/header') %>
  <h1>Famous Quotes – Admin</h1>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <a href="/author/new" class="btn btn-primary">Add Author</a>
    <a href="/quote/new" class="btn btn-primary">Add Quote</a>
    <a href="/authors" class="btn btn-secondary">List Authors</a>
    <a href="/quotes" class="btn btn-secondary">List Quotes</a>
  </div>
</body></html>
